In [1]:
#Jacob Knopping
#12/11/19

## Challenge: Data cleaning & validation

In [2]:
import pandas as pd

In [5]:
#Step 1: Convert file into UTF-8 CSV

In [4]:
#Step 2: Ensure conversion worked, read csv into dataframe
df = pd.read_csv('13-6-csvFile-utf8.csv')
print(df.shape)
df.head()

(2127, 5)

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

__To complete this challenge, _determine the five most common journals and the total articles for each._ Next, calculate the _mean, median, and standard deviation_ of the open-access cost per article for each journal.__

In [6]:
df.describe()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
count,1928,2127,2126,2127,2127
unique,1880,299,984,2126,1402
top,In Process,Elsevier,PLoS One,"Exclusive breastfeeding, diarrhoel morbidity a...",£2040.00
freq,7,387,92,2,94

In [12]:
#199 missing IDs
print(sum(df['PMID/PMCID'].isnull()))
#zero missing publishers
print(sum(df['Publisher'].isnull()))
#one missing journal title
print(sum(df['Journal title'].isnull()))
#zero missing article titles
print(sum(df['Article title'].isnull()))
#zero missing costs
print(sum(df['COST (£) charged to Wellcome (inc VAT when charged)'].isnull()))

199
0
1
0
0

In [20]:
df_clean = df.dropna(how='any')
df_clean.describe()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
count,1928,1928,1928,1928,1928
unique,1880,272,902,1928,1295
top,In Process,Elsevier,PLoS One,Covariant perfusion patterns provide clues to ...,£2040.00
freq,7,344,91,1,90

In [21]:
df_clean.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88
5,PMC3579457,ACS,Journal of Medicinal Chemistry,Comparative Structural and Functional Studies ...,£2392.20

In [39]:
df_clean.sort_values(by='Journal title')
df_clean.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88
5,PMC3579457,ACS,Journal of Medicinal Chemistry,Comparative Structural and Functional Studies ...,£2392.20

In [44]:
#df_clean.set_index(["Journal title", "COST (£) charged to Wellcome (inc VAT when charged)"]).count(level="Journal title")

In [49]:
#df = df_clean.sort_values(by='Journal title')
df.head()
df['freq'] = df.groupby('Journal title')['Journal title'].transform('count')
df.head()
df['freq'].describe()

count    1928.000000
mean       11.424274
std        21.803469
min         1.000000
25%         1.000000
50%         3.000000
75%         8.000000
max        91.000000
Name: freq, dtype: float64

# _ANSWERS_

In [64]:
df = pd.read_csv('13-6-csvFile-utf8.csv')
#df['freq'] = df.groupby('Journal title')['Journal title'].transform('count')
#df.head()

In [65]:
print(sum(df['Journal title'].isnull()))

1

In [66]:
#drop all rows where Journal title and Cost are missing
df_clean = df.dropna(subset=['Journal title', 'COST (£) charged to Wellcome (inc VAT when charged)'])
df_clean.describe()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
count,1928,2126,2126,2126,2126
unique,1880,298,984,2125,1401
top,In Process,Elsevier,PLoS One,"Exclusive breastfeeding, diarrhoel morbidity a...",£2040.00
freq,7,387,92,2,94

In [67]:
df_clean['Journal title'].value_counts().nlargest(5)

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64

In [101]:
df_values = df_clean['COST (£) charged to Wellcome (inc VAT when charged)'].str.replace('£', '')

In [121]:
df['Cost (£)'] = df_clean['COST (£) charged to Wellcome (inc VAT when charged)'].str.replace('£', '')
df.drop(columns='COST (£) charged to Wellcome (inc VAT when charged)')
df.drop(columns='cost').head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged),Cost (£)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56,642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88,685.88